<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="css/list-style.css">
  <link rel="icon" href="https://i.ibb.co/SwyJDWd/d431b7e7ab845546a2dba4cbd63dc42d.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>

  <!-- header section starts  -->

  <header class="header">

    <a href="/course" class="logo">Einstein Inc. </a>

    <nav class="navbar">
      <div id="close-navbar" class="fas fa-times"></div>
      <a href="/course">Courses</a>
      <a href="/list">Tasks</a>
      <a href="/dashboard">Dashboard</a>
      <a class="logout_class" href="/logout">Logout</a>
    </nav>
    <div class="icons">
      <div id="menu-btn" class="fas fa-bars"></div>
    </div>

  </header>
  <section class="courses">


    <div class="box-container">
      <div class="box space">
        <div class="section">

          <div class="content">

            <div class="box1" id="heading">
              <h1>
                <%= day %>
              </h1>
            </div>
            <div class="align">
              <div class="box2">
                <% itemsList.forEach((item)=> { %>
                  <form action="/delete/<%= category %>" method="post">
                    <div class="item">
                      <input type="checkbox" name="checkbox" value=<%=item._id %> onChange="this.form.submit()">
                      <p name="item">
                        <%= item.name %>
                      </p>
                    </div>
                  </form>
                  <% }) %>

                    <form class="item" action="/<%= category %>" method="post">
                      <input type="text" name="newItem" placeholder="Add new item" autocomplete="off">
                      <button type="submit" name="addButton" class="round-button" value=<%=category %>>+</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
  </section>



  <!-- custom js file link  -->
  <script>
    let navbar = document.querySelector('.header .navbar')

    document.querySelector('#menu-btn').onclick = () => {
      navbar.classList.add('active');
    }

    document.querySelector('#close-navbar').onclick = () => {
      navbar.classList.remove('active');
    };

  </script>

</body>

</html>